{% extends "UserBundle:Default:userbase.html.twig" %}
{% block content %}
                        
        <div class="col-xs-11 col-md-4 col-xs-offset-1 col-md-offset-4">                        
                <div class="boxlogin">
{% include "@FOSUser/Registration/register_content.html.twig" %}
</div>
</div>
{% endblock %}