{% extends "ImpactBundle:Default:index.html.twig" %}

{% block title %}Sobre Impact{% endblock %}

{% block body %} 
<div class="container-fluid" style="min-height: 740px;">
  <div class="container">
    <div class="row news">
        <div class="col-xs-12 col-lg-12 ">
            <h1 class="text-center">Sobre la Hermandad</h1>
        <div class="container marketing mt">
			<div class="row featurette mt">
          		<div class="col-md-7">
            		<h2 class="featurette-heading">Impact</h2>
	            	<p class="lead text-justify">Somos una comunidad de jugadores muy amplia, con diferentes campos como el World of Warcraft, Leage of Legends, Counter Strike... También disponemos de un servicio de comunicación, TeamSpeak, con servidor propio y canales dedicados donde podrás compartir los mejores momentos con el resto de miembros. </p>
	            </div>
	         </div>
	    </div>
	</div>
</div>
</div>
</div>
{% endblock %}



